
.main-feature-container{
  width: 40%;
  min-width: 320px;
  margin: auto;
  color: #5C5B5C;
  border-bottom: 1px solid #9B9B9B;
  padding: 10px;

}

.subfeatures .feature-container{

  margin-top: -15px;
  font-style: italic;
  vertical-align: top;
}

.subfeatures{
  padding: 0px;
  margin-bottom: -10px;
  padding: 0px;
}

.feature-icon{
  display: inline-block;
  width: 40px;
  height: 40px;
  overflow: hidden;


}

.feature-title{
  list-style: none;
  display: inline-block;
  vertical-align: top;
  margin-top: 12px;
  margin-left: 10%;
  font-size: 12pt;
}

.unavailable {
  text-decoration: line-through;
}

.subfeatures .feature-title{
  font-size: 10pt;
}

.button{
  color: #5C5B5C;
  display: inline-block;
  vertical-align: top;
  float: right;
  border: none;
  background: none;
}

#delete-button:hover{
  color: white;
  background-color: #C92D40;
  border: 1px solid #C92D40;
  border-radius: 10px;
}

#add-button:hover{
  color: white;
  background-color: #43B36D;
  border: 1px solid #43B36D;
  border-radius: 10px;
}

.feature-title:hover{
  color: #43B36D;
}

